[Unit]
Description=Ambient Brightness Control Service
Documentation=https://github.com/jjermany/linux-ambient

[Service]
Type=simple
ExecStart=%h/.local/bin/ambient_brightness.py
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=default.target
